.messageScreenView {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messageScreenView .title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60%;
}

.messageScreenView .message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30%;
}

.messageScreenView .button {
  background-color: cadetblue;
  height: 10%;
}