.homeView {
  background-color: var(--gray-4);
  height: 100%;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  margin: auto;
}

.homeView .logo {
  color: var(--gray-8);
  font-size: var(--text-4xl);
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeView .formContainer {
  height: 30%;
}

.homeView .formContainer .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.homeView .actions {
  height: 120px;
}

.homeView .actions .container {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}