@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


* {
  font-family: 'Montserrat', sans-serif;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  height: 100vh;
}

:root {
  --gray-0: rgb(49, 49, 49);
  --gray-1: rgb(52, 56, 60);
  --gray-2: rgb(89, 92, 98);
  --gray-3: rgb(105, 101, 98);
  --gray-4: rgb(125, 123, 123);
  --gray-5: rgb(166, 168, 168);
  --gray-6: rgb(212, 212, 212);
  --gray-7: rgb(222, 222, 222);
  --gray-8: rgb(235, 235, 235);
  --gray-9: rgb(245, 245, 245);

  --blue-0: rgb(2, 68, 97);
  --blue-1: rgb(5, 79, 111);
  --blue-2: rgb(7, 104, 151);

  --orange-0: rgb(226, 86, 39);
  --orange-1: rgb(252, 103, 53);

  --red-0: #A62122;
  --red-1: #E8635C;
  --red-2: rgb(255,148,148);

  --yellow-0: rgb(212, 198, 0);
  --yellow-1: rgb(243, 227, 0);

  --text-s: 12px;
  --text-m: 16px;
  --text-l: 20px;
  --text-xl: 24px;
  --text-2xl: 28px;
  --text-3xl: 32px;
  --text-4xl: 40px;
}